<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang | default "en" }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ block "title" . }}{{ .Site.Title }}{{ end }}</title>
    
    {{ $style := resources.Get "css/kawaii.css" | resources.Minify }}
    <link rel="stylesheet" href="{{ $style.Permalink }}">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=JetBrains+Mono:wght@400;500&display=swap" rel="stylesheet">
    
    <meta name="description" content="{{ .Description | default .Site.Params.description }}">
    <meta name="author" content="{{ .Site.Params.author }}">
    
    {{ if .Site.Params.favicon }}
    <link rel="icon" href="{{ .Site.Params.favicon | relURL }}">
    {{ end }}
</head>
<body class="kawaii-body">
    <div class="kawaii-container">
        {{ partial "header.html" . }}
        
        <main class="kawaii-main">
            {{ block "main" . }}{{ end }}
        </main>
        
        {{ partial "footer.html" . }}
    </div>
    
    <script src="{{ "js/kawaii.js" | relURL }}"></script>
</body>
</html>